<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Ogloszenia</display-name>
  <servlet>
    <servlet-name>addNewServlet</servlet-name>
    <servlet-class>ogloszenia.AddNewAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewServlet</servlet-name>
    <url-pattern>/ad-new-ad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerUserServlet</servlet-name>
    <servlet-class>ogloszenia.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUserServlet</servlet-name>
    <url-pattern>/reg-new-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewMessageServlet</display-name>
    <servlet-name>AddNewMessageServlet</servlet-name>
    <servlet-class>ogloszenia.AddNewMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewMessageServlet</servlet-name>
    <url-pattern>/AddNewMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewConversationMessageServlet</display-name>
    <servlet-name>AddNewConversationMessageServlet</servlet-name>
    <servlet-class>ogloszenia.AddNewConversationMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewConversationMessageServlet</servlet-name>
    <url-pattern>/AddNewConversationMessageServlet</url-pattern>
  </servlet-mapping>
</web-app>